@model List<TestWebApp.Models.tbl_labourerdata>

    <style>
        #tbl_manageservices {
            overflow: visible;
        }
    </style>


    <table id="tbl_managelabourers" class="DataTableDiv">
        <thead>
            @foreach (System.Reflection.PropertyInfo property in typeof(TestWebApp.Models.tbl_labourerdata).GetProperties())
            {
                if (property.Name == "fld_address" || property.Name == "fld_zipcode" || property.Name == "fld_dateofbirth" || property.Name == "fld_phonenumber" || property.Name == "fld_email")
                {

                }

                else
                {
                    <th>@property.Name</th>

                }
            }
        </thead>
            <tbody>
                @foreach (var labourer in Model)
                {
                <tr class="clickableRow" id="@labourer.fld_labourerid">
                    @foreach (System.Reflection.PropertyInfo property in typeof(TestWebApp.Models.tbl_labourerdata).GetProperties())
                    {

                        if (property.Name == "fld_address" || property.Name == "fld_zipcode" || property.Name == "fld_dateofbirth" || property.Name == "fld_phonenumber" || property.Name == "fld_email")
                        {

                        }
                        else
                        {
                            <td>@property.GetValue(labourer)</td>

                        }
                    }
                </tr>
                }
            </tbody>
        </table>

        <script>
    $(document).ready(function () {
        $('#tbl_managelabourers').DataTable({
            "columns": [
                { "width": "2%" },
                null,
                null,
                null
            ]
        });
    });
        </script>
