@page
@using Microsoft.AspNetCore.Http
@using TestWebApp.Models;
@using TestWebApp.ElasticSearch.Queries;
@using System.Text;
@using Newtonsoft.Json;

@inject IHttpContextAccessor HttpContextAccessor

<div id="menu_underheader">
    <h1>Main menu | Test Environment</h1>
</div>
<div id="underheader">
</div>

<body>

</body>

